.pagination {
    height: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
}

.pagination li.active a {
    background-color: #333;
    color: #fff;
}
